:root {
  --basic-black: #000000;
  --basic-dark-grey: #283136;
  --basic-light-grey: #EEEEEE;
  --basic-lighter-grey: #666666;
  --basic-button-grey: #DFDFDF;
  --basic-button-dark-grey: #D5D5D5;
  --basic-white: #FFFFFF;
  --basic-gradient-white: #E1E1E1;
  --basic-light-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-darkest-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-darkest-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-dark-yellow: #EAB534;
  --basic-darkest-yellow: #E5A722;
  --basic-gradient-red: #E74246;
  --basic-gradient-dark-red: #D7373B;
}

/*Fonts*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff')
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: var(--basic-dark-grey);
  line-height: 24px;
  font-weight: normal;
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background-color: var(--basic-light-grey);
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.navigation-list {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 45px;
}

.main-logo {
  padding-top: 49px;
}

.navigation-list,
.services-list,
.filters-list,
.templates-list,
.pagination-lis,
.social-list,
.partners-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.position {
  padding-top: 75px;
}

.navigation-item,
.header-cart {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
}

.navigation-item:hover,
.header-cart:hover {
  color: var(--basic-light-red);
}

.navigation-item:active,
.header-cart:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.promo-slider {
  background-color: var(--basic-light-grey);
}

.promo-text-big {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.promo-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--basic-dark-red);
}

.button:active {
  background-color: var(--basic-darkest-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
}

.services {
  border-bottom: 2px solid var(--basic-light-grey);
  padding-bottom: 80px;
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-dark-green);
}

.button-green:active {
  background-color: var(--basic-darkest-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-dark-yellow);
}

.button-yellow:active {
  background-color: var(--basic-darkest-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.studio-description {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 39px;
  border-bottom: 2px solid var(--basic-light-grey);
  padding-bottom: 75px;
}

.description-big-text {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.list-text {
  text-transform: uppercase;
  font-weight: bold;
}

.tasks-list-item {
  line-height: 24px;
}

.advantages-text {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.advantages-head {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.advantages-name {
  line-height: 18px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 298px);
  padding-left: 32px;
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid var(--basic-light-grey);
}

.contacts {
  line-height: 18px;
  color: var(--basic-lighter-grey);
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.phone {
  text-decoration: none;
  color: var(--basic-black);
}

.social-big-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.social-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.social-button {
  background-color: var(--basic-gradient-white);
}

.social-button:hover {
  background-color: linear-gradient(0deg, var(basic-gradient-red), var(basic-gradient-red));
}

.social-button:active {
  background-color: linear-gradient(0deg, var(--basic-gradient-dark-red), var(--basic-gradient-dark-red));
}

.social-box {
  display: grid;
  grid-template-columns: 360 auto;
}

.social-links {
  grid-row: 1/2;
  grid-column: 1/2;
}

.social-text {
  grid-column-start: 2;
  grid-column-end: 3;
}

/*catalog.html*/
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
}

.filters {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.form-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-light-grey);
}

.form-button:hover {
  background-color: var(--basic-button-grey);
}

.form-button:active {
  background-color: var(--basic-button-dark-grey);
}

.opacity:active {
  opacity: 0.3;
}

.preview {
  color: var(--basic-lighter-grey);
  background-color: var(--basic-light-grey);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.preview-title {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.pagination-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.pagination-item a:hover {
  background-color: var(--basic-button-grey);
}

.current a {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-button-dark-grey);
}

.preview {
  display: none;
}

.templates-list:hover .preview {
  display: block;
}
