:root {
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);;
  --basic-grey-controls: #C1C1C1;
  --basic-filter-darkgrey: #4D4D4D;
  --basic-dark-grey: #283136;
  --basic-light-grey: #EEEEEE;
  --basic-lighter-grey: #666666;
  --basic-button-grey: #DFDFDF;
  --basic-filter-scale-grey: #D7DCDF;
  --basic-filter-toggle-grey: #ABABAB;
  --basic-button-dark-grey: #D5D5D5;
  --basic-border-light-grey: #D7DCDE;
  --basic-border-dark-grey: #B4B9BB;
  --basic-template-color: rgba(77, 77, 77, 0.12);
  --basic-template-color-dark: rgba(77, 77, 77, 1);
  --basic-white: #FFFFFF;
  --basic-gradient-white: #E1E1E1;
  --basic-light-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-darkest-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green: #00BC6C;
  --basic-darkest-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-dark-yellow: #EAB534;
  --basic-darkest-yellow: #E5A722;
  --basic-gradient-red: #E74246;
  --basic-gradient-dark-red: #D7373B;
}

/*Fonts*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff')
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: var(--basic-dark-grey);
  line-height: 24px;
  font-weight: normal;
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  overflow-x: hidden;
}

.main-header {
  background-color: var(--basic-light-grey);
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.navigation-list {
  flex-grow: 0;
  display: flex;
  justify-content: space-around;
  min-width: 437px;
}

.navigation-item {
  margin-right: 45px;
}

.navigation-list,
.services-list,
.filters-list,
.templates-list,
.pagination-lis,
.social-list,
.partners-list,
.pagination-list,
.sort-list,
.slider-list,
.tasks-list,
.radio-list,
.check-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item,
.header-cart {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
  display: block;
  padding-top: 15px;
  padding-bottom: 13px;
}

.current-nav {
  border-bottom: 2px solid var(--basic-light-red);
}

.header-cart {
  padding-left: 40px;
  position: relative;
}

.header-cart:before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 24px;
}

.main-logo:active {
  opacity: 0.3;
}

.navigation-item:hover,
.header-cart:hover {
  color: var(--basic-light-red);
}

.navigation-item:active,
.header-cart:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.promo-slider {
  background-color: var(--basic-light-grey);
  position: relative;
}

.promo-text-big {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  padding-top: 13px;
  margin-bottom: 0;
}

.promo-text-small-1 {
  padding-top: 10px;
  padding-bottom: 35px;
}

.promo-text-small-2 {
  padding-top: 20px;
  padding-bottom: 25px;
}

.promo-pic-1 {
  position: relative;
  bottom: 10px;
  left: 20px;
}

.promo-pic-2 {
  position: relative;
  bottom: 10px;
  right: 115px;
}

.promo-pic-3 {
  position: relative;
  bottom: 10px;
  right: 10px;
}

.slider-list {
  position: relative;
}

.slider-controls {
  display: flex;
  position: absolute;
  bottom: 23%;
  left: 48%;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  margin-right: 17px;
  padding: 5px 5px;
  cursor: pointer;
  position: relative;
}

.current-slide:before {
  content: "";
  position: absolute;
  padding: 2px 2px;
  border: 2px solid var(--basic-grey-controls);
  border-radius: 50%;
}

.promo-box {
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: 421px;
}

.button {
  padding: 15px 54px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--basic-dark-red);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-darkest-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

.services-text {
  margin-top: 0px;
  margin-bottom: 47px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-top: 63px;
}

.services {
  padding-top: 18px;
  border-bottom: 2px solid var(--basic-light-grey);
  padding-bottom: 95px;
}

.services-button {
  padding: 15px 40px;
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-dark-green);
}

.button-green:active {
  background-color: var(--basic-darkest-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-dark-yellow);
}

.button-yellow:active {
  background-color: var(--basic-darkest-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.studio-description {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 39px;
  border-bottom: 2px solid var(--basic-light-grey);
  padding-bottom: 57px;
}

.description-big-text {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin-top: 34px;
  margin-bottom: 34px;
}

.list-text {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 5px;
}

.tasks-list {
  margin: 5px 35px;
  padding-top: 5px;
}

.tasks-list-item {
  line-height: 48px;
  position: relative;
}

.tasks-list-item:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-light-red);
  position: absolute;
  top: 23px;
  left: -35px;
}

.advantages-text {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 12px;
  padding-left: 15px;
}

.advantages-head {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 15px;
}
.percent-font {
  font-size: 26px;
}

.advantages-name {
  line-height: 18px;
}

.partners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  padding: 43px 0;
}

.partners-item {
  position: relative;
}

.html {
  position: relative;
  top: 16px;
  right: 18px;
}

.borodinski {
  position: relative;
  right: 18px;
}

.pink {
  position: relative;
  top: 17px;
  right: 15px;
}

.mishka {
  position: relative;
  top: 5px;
  left: 5px;
}

.partners-item:nth-child(4):after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);
  position: absolute;
  top: 20px;
  left: -58px;
}

.partners-item:nth-child(3):after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);
  position: absolute;
  top: 20px;
  left: -75px;
}

.partners-item:nth-child(2):after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);
  position: absolute;
  top: 20px;
  left: -70px;
}

.light {
  opacity: 0.2;
}

.light:hover {
  opacity: 1;
}

.light:active {
  opacity: 0.1;
}

.partners {
  border-bottom: 2px solid var(--basic-light-grey);
}

.main-footer {
  padding-top: 75px;
}

.map {
  width: 100%;
  height: 416px;
  border:0;
}

.contact-box {
  position: absolute;
  background-color: var(--basic-white);
  left: 320px;
  top: 55px;
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.contacts {
  /* display: flex;
  justify-content: center; */
  position: relative;
  line-height: 18px;
  color: var(--basic-lighter-grey);
  position: relative;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 30px;
  margin-bottom: 4px;
}

.adress {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.phone {
  text-decoration: none;
  color: var(--basic-black);
  padding-bottom: 40px;
}

.contact-button {
  padding: 15px 44px;
  margin-bottom: 44px;
}

.social {
  padding-top: 34px;
}

.social-big-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.social-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.social-button:hover {
  background-color: var(--basic-dark-red);
}

.social-button:active {
  background-color: var(--basic-darkest-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active .social-pic {
  opacity: 0.3;
}

.social-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-text {
  order: 2;
  flex-grow: 1;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 130px;
  padding-top: 15px;
}

.social-button {
  background-color: var(--basic-gradient-white);
}

.vk {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 27px;
  padding-right: 28px;
  border-radius: 50%;
}

.fb {
  padding-top: 33px;
  padding-bottom: 26px;
  padding-left: 35px;
  padding-right: 34px;
  border-radius: 50%;
}

.inst {
  padding-top: 34px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50%;
}

.social-item {
  margin-right: 9px;
}

/*catalog.html*/
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 auto;
  color: var(--basic-black);
  padding-top: 70px;
  padding-bottom: 108px;
}

.catalog-title-box {
  background-color: var(--basic-light-grey);
}

.catalog-title-box-position {
  display: grid;
}

.catalog-box {
  display: grid;
  grid-template-columns: 260px 2fr;
  column-gap: 140px;
  padding-top: 55px;
}

.catalog-filters {
  display: grid;
}

.catalog-templates {
  display: grid;
}

.filters {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.form-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  max-width: 260px;
}

.form-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-light-grey);
  width: 260px;
  height: 50px;
  border-radius: 3px;
  margin-top: 25px;
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--basic-button-grey);
}

.form-button:active {
  background-color: var(--basic-button-dark-grey);
}

.opacity:active {
  opacity: 0.3;
}

.templates {
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.templates-box-sort {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  max-width: 760px;
}

.box-sort-list {
  flex-grow: 1;
  align-self: center;
  padding-bottom: 3px;
}

.box-sort-button {
  margin-left: 50px;
}

.sort-button-down,
.sort-button-up {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.sort-button-up {
  opacity: 0.12;
  margin-left: 14px;
}

.sort-button-up:hover,
.sort-button-down:hover {
  opacity: 0.5;
}

.sort-button-up:active,
.sort-button-down:active {
  opacity: 1;
}

.templates-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 30px;
  padding-top: 45px;
}

.templates-item {
  position: relative;
  border-radius: 5px;
}

.template-pic {
  padding-top: 40px;
  border-radius: 5px;
}

.shape {
  position: absolute;
}

.shape-color {
  fill: var(--basic-template-color);
}
.templates-item:hover .shape-color {
  fill: var(--basic-template-color-dark);
}

.templates-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  padding-top: 55px;
}

.pagination-item {
  margin-right: 11px;
}

.preview {
  display: none;
  color: var(--basic-lighter-grey);
  background-color: var(--basic-light-grey);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  width: 100%;
  height: 225px;
  top: 390px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  padding-bottom: 10px;
}

.templates-item:hover .preview {
  display: block;
}

.preview-title {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 12px;
  text-decoration: none;
}

.preview-title:hover {
  color: var(--basic-light-red);
}

.preview-title:active {
  color: var(--basic-black-opacity);
}

.preview-text {
  padding: 0;
  margin-bottom: 49px;
  margin-top: 10px;
}


.preview .button {
  margin-bottom: 44px;
  padding-left: 72px;
  padding-right: 72px;
}

.pagination-item,
.current {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 3px;
}
.next {
  padding: 15px 77px;
}

.pagination-item:hover,
.catalog-button:hover {
  background-color: var(--basic-button-grey);
}

.pagination-item:active,
.catalog-button:active {
  color: var(--basic-black-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.current {
  margin-right: 10px;
  padding: 12px 17px;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-button-dark-grey);
}

.sort-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 25px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort-item {
  opacity: 0.3;
  text-decoration: none;
  color: var(--basic-black);
}

.sort-item:hover {
  opacity: 0.6;
}

.active,
.sort-item:active {
  opacity: 1;
}
.modal {
  position: fixed;
  display: none;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--basic-white);
  width: 760px;
  height: 440px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 85px;
  padding-right: 90px;
  font-size: 16px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-big-text {
  font-size: 45px;
  font-weight: bold;
  padding: 10px;
  padding-left: 12px;
  margin: 0;
  margin-bottom: 30px;
}

.feedback-box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px;
  width: 740px;
}

.field-box {
  width: 340px;
  padding: 6px 0;
  margin: 0 0;
  border: none;
  margin-bottom: 10px;
}

.field-box:first-of-type {
  margin-right: 60px;
}

.field-box:last-of-type {
  width: 100%;
}

.label-text {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

.input-box {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  border: 2px solid var(--basic-border-light-grey);
  border-radius: 3px;
  vertical-align: top;
  margin-bottom: 10px;
}

.feedback-box .button {
  border: none;
  margin-top: 15px;
  padding-left: 83px;
  padding-right: 83px;
}

.input-box:hover  {
  border-color: var(--basic-border-dark-grey);
}

.input-box:focus {
  border-color: var(--basic-black);
  color: var(--basic-black);
}

.input-box:invalid {
  box-shadow: none;
  border-color: var(--basic-dark-red);
  color: var(--basic-dark-red);
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 75px;
  right: 60px;
}

.close-pic {
  opacity: 0.3;
}

.close:hover .close-pic {
  opacity: 1;
}

.close:active .close-pic {
  opacity: 0.1;
}

.filter-box {
  margin: 0;
  padding: 0;
  border: none;
}


.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  height: 41px;
  background-color: var(--basic-light-grey);
  border-radius: 3px;
  margin-bottom: 11px;
  padding-top: 39px;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
}

.scale {
 height: 2px;
 background-color: var(--basic-filter-scale-grey);
}

.bar {
  height: 2px;
  width: 50%;
  background-color: var(--basic-green);

}

.toggle {
  height: 4px;
  width: 4px;
  background-color: var(--basic-filter-toggle-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  top: 31px;
  left: 0;
  cursor: pointer;
}

.toggle-min {
   left: 20px;
}

.toggle-max {
  left: 120px;
}

.price-controls {
   font-size: 16px;
   line-height: 22px;
   text-transform: uppercase;
   display: flex;
   justify-content: space-between;
}

.price-box {
  font-size: inherit;
  width: 80px;
  height: 36px;
  background-color: var(--basic-light-grey);
  border: none;
  border-radius: 3px;
  text-align: center;
  margin-left: 11px;
}

.filter-box:nth-of-type(2) {
  margin-top: 54px;
  margin-bottom: 43px;
}

.radio-item {
  margin-top: 18px;
}

.radio-list :first-child{
 margin-bottom: 20px;
}

.radio-name,
.checkbox-name {
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: 36px;
}

.input-radio + .radio-name:before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  /* width: 17px;
  height: 17px;
  border: 4px solid var(--basic-filter-darkgrey);
  border-radius: 50%; */
  opacity: 0.4;
}
.input-radio:checked + .radio-name:before {
  display: none;
}

.input-radio:checked + .radio-name:after {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-color: var(--basic-white);
  /* left: 7.7px;
  top: 4.5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--basic-filter-darkgrey); */
  opacity: 0.4;
}

.input-radio[disabled] + .radio-name {
  opacity: 0.1;
}

.check-list {
  margin-top: 20px;
}

.check-item {
  margin-bottom: 22px;
}

.input-checbox + .checkbox-name:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.4;
}

.input-checbox:checked  + .checkbox-name:before {
  display: none;
}

.input-checbox:checked + .checkbox-name:after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  /* background-color: var(--basic-white); */
  opacity: 0.4;
}

.input-radio:not([disabled]):hover + .radio-name:before,
.input-radio:hover:checked + .radio-name:after,
.input-checbox:hover + .checkbox-name:before,
.input-checbox:checked + .checkbox-name:after {
  opacity: 1;
}

.input-radio:not([disabled]):focus + .radio-name:before,
.input-radio:focus:checked + .radio-name:after,
.input-checbox:focus + .checkbox-name:before,
.input-checbox:focus + .checkbox-name:after {
  outline: 2px solid var(--basic-black);
}
